<!DOCTYPE HTML>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="サイトをキーワードで説明">
    <meta name="description" content="どんなサイトかを短い文章で説明">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
    <!-- <link rel="icon" href="/static/favicon.ico"> -->
    <link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="/static/css/style_pc.css">
    <link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="/static/css/style_sp.css">
    <title>落ち込んだナラ</title>

    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fadethis.min.js"></script>
    <!-- drawer.css -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css"> -->
    <!-- jquery & iScroll -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script> -->
    <!-- drawer.js -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script> -->

    <script type="text/javascript" src="/static/js/common.js"></script>

</head>

<body>

    <!-- ここからヘッダーです。----------------------------------------------------------------------================== -->
    <header class>
        <div class="container">
            <a href="#" class="headA" style="color: #955">

            </a>
            <buttom type="button" class="headC"><span class="fa fa-bars" title="MENU"></span>
            </buttom>
            <nav class="headB">
                <ul>
                    <li><a href="/">トップ</a></li>
                    <li><a href="/request">お問い合わせ</a></li>
                    <li><a href="/question">よくあるご質問</a></li>

                    <!-- <li><a href="about.html">ABOUT</a></li> -->

                </ul>

            </nav>
        </div>
    </header>


    {% block content %}
    {% endblock %}

    <!-- <footer>
        <div class="container">
            <div class="footA">
                <h2>Loggers</h2>
                <p>〒000-0000 東京都中央区杉並区9-9-9-403<br>
                    <a href="#">http://logger.nett/</a>
                </p>
            </div>


            <nav class="footB">
                <div>
                    <h3> ABOUT</h3>
                    <ul>
                        <li><a href="contact.html">設立</a></li>
                        <li><a href="contact.html">所在地</a></li>
                        <li><a href="contact.html">地図</a></li>
                        <li><a href="about.html">スタッフ</a></li>
                    </ul>
                </div>

                <div>
                    <h3>SUPPORT</h3>
                    <ul>
                        <li><a href="#">ダウンロード</a></li>
                        <li><a href="#">マニュアル</a></li>
                        <li><a href="#">よくある質問</a></li>
                        <li><a href="#">お問い合わせ</a></li>
                    </ul>
                </div>

                <div>
                    <h3> CONTENTS</h3>
                    <ul>
                        <li><a href="list-c.html">お知らせ</a></li>
                        <li><a href="content.html">ビジネス</a></li>
                        <li><a href="about.html">プロフィール</a></li>
                        <li><a href="about.html">開発者</a></li>
                        <li><a href="list-c.html">ブログ</a></li>
                    </ul>
                </div>
            </nav>

            <div class="footC">
                &copy; LOGGER corp. ALL right reserved.
            </div>
        </div>

    </footer> -->



    <!-- --------------------ここまでがフッターです --------------------------------------------------------------------------------------------------->

</body>

</html>