{% extends "base.html" %}
{% block content %}



<!-- <main role="main"> -->
<!-- <div class="aaa"> -->
<!-- <h1 hidden>落ち込んだナラ</h1> -->

<!-- </div> -->
<!-- </main> -->
<main>
    <div class="homeimg">
        <img src="../static/img/home1.png" alt="#">
    </div>



    <p style="color: #955">愚痴や悩みを素敵なメッセージと交換いたします。<br>
        悩みを吐き出し、それに対する励ましの言葉を受け取る事で<br>
        あなたの気が和らぎ、心に余裕を持つことができるようになります。</p>



    <h3 class="section-title">相談員一覧</h3>


    <!-- とりあえずキメラ君をここに置いています。 -->
    <div class="kimera_opacity">
        <div class="imgWrap">
            <a href="/kimera_form"><img src="../static/img/kimera.png"></a>
        </div>
        <p>キメラ君<br>
            キメラ君はいい加減

        </p>
    </div>
    <!-------------------------------------------->


    <div class="syoukai">
        <div class="item1">
            <div class="imgWrap">
                <a href="/form1"><img src="../static/img/yumekawa_animal_unicorn.png"></a>
            </div>
            <p>ユニコちゃん<br>
                ユニコちゃんは仕事の悩み

            </p>
        </div>


        <div class="item1">
            <div class="imgWrap">
                <a href="/form2"><img src="../static/img/yumekawa_animal_hitsuji.png"></a>
            </div>
            <p>ヒツジちゃん<br>
                ヒツジちゃんは恋愛の悩み
            </p>

        </div>

        <div class="item1">
            <div class="imgWrap">
                <a href="/form3"><img src="../static/img/yumekawa_animal_buta.png"></a>
            </div>
            <p>ブタちゃん<br>
                ブタちゃんは人間関係の悩み
            </p>

        </div>
    </div>





</main>

{% endblock %}