{% extends "base.html" %}
{% block content %}



<main role="main">
    <div class="aaa">
        <h1>落ち込んだなら</h1>

    </div>
</main>
<div class="contents">
    <p>愚痴や悩みを素敵なメッセージと交換いたします<br>
        悩みを吐き出し、それに対する励ましの言葉を受け取る事で<br>
        あなたの気が和らぎ、心に余裕を持つことができるようになります。</p>

    <h3 class="section-title">相談員一覧</h3>



    <div class="syoukai">
        <div class="item1">
            <div class="imgWrap">
                <a href="/form1"><img src="../static/img/yumekawa_animal_unicorn.png"></a>
            </div>
            <p>ユニコちゃん</p>
        </div>


        <div class="item1">
            <div class="imgWrap">
                <a href="/form2"><img src="../static/img/yumekawa_animal_hitsuji.png"></a>
            </div>
            <p>ヒツジちゃん</p>

        </div>

        <div class="item1">
            <div class="imgWrap">
                <a href="/form3"><img src="../static/img/yumekawa_animal_buta.png"></a>
            </div>
            <p>ブタちゃん</p>

        </div>
    </div>
    <p>ユニコちゃんは仕事の悩み</p>
    <p>ヒツジちゃんは恋愛の悩み</p>
    <p>ブタちゃんは恋愛の悩み</p>

</div>

{% endblock %}