{% extends "base.html" %}
{% block content %}



<main role="main">
    <div class="aaa">
        <h1>落ち込んだなら</h1>

    </div>
</main>
<div class="contents">
    <br>○○○○○○○○○○○○○○○○○○<br>
    ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>
    ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>
    ○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○○<br>
    ○○○○○○○○○○○○○○○○○○

    <h3 class="section-title">相談員一覧</h3>



    <div class="syoukai">
        <div class="item1">
            <a href="/form1"><img src="../static/img/yumekawa_animal_unicorn.png"></a>
            <p>ユニコちゃん</p>
        </div>


        <div class="item1">
            <a href="/form2"><img src="../static/img/yumekawa_animal_hitsuji.png"></a>
            <p>ヒツジちゃん</p>

        </div>

        <div class="item1">
            <a href="form3"><img src="../static/img/yumekawa_animal_buta.png"></a>
            <p>ブタちゃん</p>

        </div>
    </div>
    <p>ユニコちゃんは仕事の悩み</p>
    <p>ヒツジちゃんは恋愛の悩み</p>
    <p>ブタちゃんは恋愛の悩み</p>

</div>

{% endblock %}