{% extends 'base.html' %}

{% block content %}




<!-- ★★★★★ここからメインコンテンツ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ -->



<table class="contents">
    <tbody>
        <tr>
            <td
                style="width:700px;height:76px;background-image:url(./img/title.png);background-repeat:no-repeat;padding:10px 0 0 40px;text-align:left;vertical-align:top;">
                <h1 style="color:#555;font-size:130%;display:inline;font-weight: normal;">

            </td>
        </tr>
        <tr>
            <td style="padding:0px 7px;text-align:center;vertical-align:top;">
                <ul class="qandaData">
                    <div class="faqList">
                        <h1>よくある質問</h1>
                        <h2 style="color: #955">対面や電話相談とは違うんですか？</h2>
                        <p>はい、ちがいます。このサービスは対面や電話相談とは違い、</p>
                        <p>相談員にメッセージを吐き出すと、素敵なメッセージを受け取ることができます。</p>
                    </div>
                    <div class="faqList">
                        <h2 style="color: #955">このサイトはどう使うんですか？</h2>
                        <p>3人の相談員にクリックしたらフォーム画面に飛びます。</p>
                        <p>ホーム画面に飛んだら、メッセージを打って送信すればメッセージを受け取れます。</p>
                    </div>
                    <div class="faqList">
                        <h2 style="color: #955">相談員はこの3人だけですか？</h2>
                        <p>隠しキャラ実装予定です！</p>
                    </div>
                    <div class="faqList">
                        <h2 style="color: #955">なぜこのサイトを作ったんですか？</h2>
                        <p>問題を相談や解決するのではなくメッセージを貰って、心に余裕を与え、</p>
                        <p> 問題解決のきっかけ作りとしてこのサービスを立ち上げました。</p>
                    </div>

                    <div class="faqList">
                        <h2 style="color: #955">メッセージはランダムで出てくるんですか？</h2>
                        <p>自分が思ったメッセージ出てこなかったら何度もチャレンジしてみてね！</p>
                        <p>もしかしたら自分に合ったメッセージが返ってくるかも？</p>
                    </div>



                    <!-- <div class="faqList">
                        <h2 style="color: #955">お薬は出してもらえますか？</h2>
                        <p>当オフィスは、医療機関ではないのでお薬はお出しできません。お薬が必要な場合は、心療内科で処方してもらってください。</p>
                    </div>
                    <div class="faqList">
                        <h2 style="color: #955">心療内科との違いはなんですか？</h2>
                        <p>心療内科は病院であり、医療行為を提供しますが、カウンセラーは医療行為はできません。<br>心療内科では、投薬治療に重きを置いていますが、カウンセラーは、カウンセリングで問題解決をおこないます。<br>尚、心療内科では、カウンセリングを行っていないところも比較的多いです。
                        </p>
                    </div> -->
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<!-- ★★★★★メインコンテンツはここまで★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ -->








{% endblock %}