{% extends 'base.html' %}

{% block content %}




<!-- ★★★★★　ここからメインコンテンツ　★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ -->



<table class="contents">
    <tbody>
        <tr>
            <td
                style="width:700px;height:76px;background-image:url(./img/title.png);background-repeat:no-repeat;padding:10px 0 0 40px;text-align:left;vertical-align:top;">
                <h1 style="color:#555;font-size:130%;display:inline;font-weight: normal;">
                    <h1>よくあるご質問</h1>
            </td>
        </tr>
        <tr>
            <td style="padding:0px 7px;text-align:center;vertical-align:top;background:#fff;">
                <ul class="qandaData">
                    <div class="faqList">
                        <h2 style="color: #955">対面や電話相談とは違うんですか？</h2>
                        <p>はい、ちがいます。このサービスは対面や電話相談とは違い、</p>
                        <p>相談員にメッセージを吐き出すと、素敵なメッセージを受け取ることができます。</p>
                    </div>
                    <div class="faqList">
                        <h2 style="color: #955">このサイトはどう使うんですか？</h2>
                        <p>3人の相談員にクリックしたらフォーム画面に飛びます。</p>
                        <p>ホーム画面に飛んだら、メッセージを打って送信すればメッセージを受け取れます。</p>
                    </div>
                    <div class="faqList">
                        <h2 style="color: #955">電話で予約や相談はできますか？</h2>
                        <p>すみません。予約は<a href="./reserv.html"
                                target="_self">予約フォーム</a>のみとさせて頂いております。またご相談に関しても、直接面談を基本としております。ただし、はじめての方のお問い合わせについては、<a
                                href="mailto:info@foolhand.com">info@foolhand.com</a> でお受けしています。
                        </p>
                    </div>
                    <div class="faqList">
                        <h2 style="color: #955">なぜこのサイトを作ろうしたんですか？</h2>
                        <p>はい、構いません。予約フォームには、仮名を記入してください。</p>
                    </div>
                    <div class="faqList">
                        <h2 style="color: #955">本人でなくても良いですか？</h2>
                        <p>ご本人と直接面談させて頂くのがカウンセリングの基本ですが、いずれご本人を連れてこられるつもりであれば、お受けする場合もあります。</p>
                    </div>
                    <div class="faqList">
                        <h2 style="color: #955">家族が同席しても良いですか？</h2>
                        <p>クライアント本人の希望であれば構いません。料金は１名分で結構です。</p>
                    </div>
                    <div class="faqList">
                        <h2 style="color: #955">お薬は出してもらえますか？</h2>
                        <p>当オフィスは、医療機関ではないのでお薬はお出しできません。お薬が必要な場合は、心療内科で処方してもらってください。</p>
                    </div>
                    <div class="faqList">
                        <h2 style="color: #955">心療内科との違いはなんですか？</h2>
                        <p>心療内科は病院であり、医療行為を提供しますが、カウンセラーは医療行為はできません。<br>心療内科では、投薬治療に重きを置いていますが、カウンセラーは、カウンセリングで問題解決をおこないます。<br>尚、心療内科では、カウンセリングを行っていないところも比較的多いです。
                        </p>
                    </div>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<!-- ★★★★★　メインコンテンツはここまで　★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★ -->








{% endblock %}